
/** basic style */
html,body,ul,h1,h2,h3,h4,h5,h6
{
padding:0;
margin:0;
}

html,
body
{
width:100%;
}

#pagecontainer
{
display:block;
position:relative;
width:100%;
min-height:100%;
}



.clr
{
clear:both;
height:0;
font-size:0;
}

p
{
}

h1,h2,h3,h4,h5,h6
{
line-height:140%;
}

.page img,
.post img
{
height:auto;
max-width:100%;
}



/* medium screen layout */
@media screen and (min-width: 580px) {

.outermargin,
.wrap
{
position:relative;
margin:0px auto;
width:96%;
max-width:960px;
}

#maincontent .panel-content > .wrap
{
margin:0;
}

#upppermenu ul > li,
#topmenu ul > li,
#topcontent  ul.menu > li,
#mainmenu  ul > li,
#bottommenu ul > li,
#footerend #socialmenu ul > li
{
display: inline-block;
}

#upperbar
{
}
#contactbox
{
/*
position:absolute;
right:0px;
width:23%;
z-index:99;
*/
}

#sidebar ul li a,
.emaillink,
.tellink
{
display: block;
padding:3px 6px;
}
#toplogobox
{
float:left;
}
#toplogobox img
{
max-width:120px !important;
height: auto;
}
#topmenubox
{
display: block;
}




#maincontent
{
float: left;
width: 77%;
}
#sidecontent
{
float: right;
width: 23%;
}

#maincontent .page,
#maincontent .post
{
margin-right:3%;
}



}
