

/* root variables */

:root
{
	/* LIGHT */
	--lightbgcolor: #ffffff;
	--lighttextcolor: #01040D;
	--lightlinkcolor: #2e343b;


    /* DARK */

	--darkbgcolor: #0D1018;
	--darktextcolor: #3E4355;
	--darklinkcolor: #37504B;

}






body
{
font-family: "Helvetica", Arial, sans-serif;
font-size:1.1em;
}



#uppermenu ul li
{
margin:0px;
padding:0px;
}
#uppermenu ul li a
{
display:block;
margin:0px -5px 0px 0px;
padding:15px 10px;
font-size:0.9em;
}

#upperbar,
#topbar
{
}


h2.entry-title
{
font-size:1.8em;
padding-bottom:5px;
}
.entry-title-meta
{
font-size:0.8em;
padding-bottom:5px;
}
#maincontent .widget-titlebox h3,
#sidecontent .widget-titlebox h3
{
font-size:1.1em;
line-height:1.5em;
}
#maincontent article p
{
display:block;
padding:4px 0px;
}

.widget_wpstartup_postlist_widget .post-titlebox h4
{
line-height:1.3em;
font-size:1.2em;
}
.post-titlebox .post-date,
.post-titlebox .post-author
{
font-size:0.8em;
}
.widget_wpstartup_postlist_widget .item-excerpt p
{
padding:0px;
}





li.current_page_item a
{
font-weight:bold;
}

/* topmenu */
ul.menu li,
ul.nav-menu li
{
}
ul.menu li a,
ul.nav-menu li a
{
}



/* Light */

body.theme-light,
body.theme-light ul.sub-menu
{
background-color: var(--lightbgcolor);
color: var(--lighttextcolor);
}

body.theme-light a
{
color: var(--lightlinkcolor);
}

/* Dark */

body.theme-dark,
body.theme-dark ul.sub-menu
{
background-color: var(--darkbgcolor);
color: var(--darktextcolor);
}

body.theme-dark a
{
color: var(--darklinkcolor);
}


/* Schemes */



/* Light
.color-primary-0 { color: #353D5B }
.color-primary-1 { color: #01040D }
.color-primary-2 { color: #151D3A }
.color-primary-3 { color: #676F90 }
.color-primary-4 { color: #D7DCF0 }

.color-secondary-1-0 { color: #854648 }
.color-secondary-1-1 { color: #130000 }
.color-secondary-1-2 { color: #551819 }
.color-secondary-1-3 { color: #D28E90 }
.color-secondary-1-4 { color: #FFE0E1 }

.color-secondary-2-0 { color: #3C6D39 }
.color-secondary-2-1 { color: #011000 }
.color-secondary-2-2 { color: #164513 }
.color-secondary-2-3 { color: #77AB74 }
.color-secondary-2-4 { color: #DAF6D9 }

.color-complement-0 { color: #867347 }
.color-complement-1 { color: #130E00 }
.color-complement-2 { color: #564318 }
.color-complement-3 { color: #D4BF8F }
.color-complement-4 { color: #FFF6E0 }

*/

/* Dark

.color-primary-0 { color: #1B1D27 }
.color-primary-1 { color: #3E4355 }
.color-primary-2 { color: #282B35 }
.color-primary-3 { color: #13161F }
.color-primary-4 { color: #0D1018 }

.color-secondary-1-0 { color: #392D25 }
.color-secondary-1-1 { color: #7D6656 }
.color-secondary-1-2 { color: #4E4239 }
.color-secondary-1-3 { color: #2E221A }
.color-secondary-1-4 { color: #241911 }

.color-secondary-2-0 { color: #182522 }
.color-secondary-2-1 { color: #37504B }
.color-secondary-2-2 { color: #25322F }
.color-secondary-2-3 { color: #111D1B }
.color-secondary-2-4 { color: #0B1715 }

.color-complement-0 { color: #393325 }
.color-complement-1 { color: #7D7156 }
.color-complement-2 { color: #4E4839 }
.color-complement-3 { color: #2E281A }
.color-complement-4 { color: #241E11 }

*/

