/** default settings */
html,body,ul,h1,h2,h3,h4,h5,h6
{
padding:0;
margin:0;
}

html
{
height:100%;
width:100%;
}
body
{
min-height:100%;
width:100%;
}

.clr
{
clear:both;
height:0;
font-size:0;
}

.outermargin,
.wrap
{
position:relative;
margin:0px auto;
width:96%;
min-width:280px;
}




#header
{
position:relative;
width:100%;
}

#header.header_image
{
background-size: cover;
background-repeat: no-repeat;
min-height:120px;
}

#upperbar .outermargin
{
}
#upperbarmenu
{
}

#pagecontainer
{
position:relative;
display:block;
width:100%;
min-height:100%;
}

#maincontent .panel-content > .wrap
{
margin:0;
}

p
{
}
h1,h2,h3,h4,h5,h6
{
line-height:140%;
}
.page img,
.post img
{
height:auto;
max-width:100%;
}
.widget
{
width:100%;
}

/* Breadcrumb styles */
#breadcrumbs{
    list-style:none;
    margin:5px 0;
    overflow:hidden;
}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
}

#breadcrumbs .separator{
}



/* menu style global */
ul.menu li,
ul.nav-menu li
{
position:relative;
}
ul.menu li a:after,
ul.nav-menu li a:after
{
position:absolute;
top:3px;
right:3px;
z-index: 101;
}


ul.menu li a,
ul.nav-menu li a
{
text-decoration:none;
color:dimgrey;
}
ul.menu li a:hover,
ul.nav-menu li a:hover
{
text-decoration:underline;
}

ul.menu li.current_page_ancestor > a,
ul.nav-menu li.current_page_ancestor > a
{
text-decoration:underline;
color:dimgrey;
}
ul li.current_page_item > a,
ul li.current-menu-item > a
{
text-decoration:underline;
color:black;
}





/* small screen layout */
@media screen and (max-width: 679px){

/* menu touch/click (js controles parent class 'dropped' & parent option clone in sublevel menu)*/
ul.menu li a,
ul.nav-menu li a
{
display:block;
padding:5px 10px 0px 0px;
}


/*  https://www.w3schools.com/charsets/ref_utf_geometric.asp */

li.menu-item-has-children > a:after,
li.menu-item-has-children:hover > a:after
{
content: " ►";
}
li.menu-item-has-children.dropped > a:after
{
content: " ▼";
}

div.innerpadding ul.menu,
div.innerpadding ul.nav-menu,
ul.sub-menu {
  position: relative;
  max-height: 0px;
  min-width: 180px;
  overflow: hidden;
  opacity: 0;
  z-index: 99;
}

div.innerpadding.dropped ul.menu,
div.innerpadding.dropped ul.nav-menu,
li.dropped>ul.sub-menu {
  max-height: 400px;
  overflow: visible;
  opacity: 1;
}

ul.menu,
ul.nav-menu,
ul.nav-menu>li ul,
ul.menu>li ul,
ul.sub-menu {
  transition: all 0.8s ease-in-out;
}

}/* end < 679 width */





/* large screen layout */
@media screen and (min-width: 680px) {

.outermargin,
.wrap
{
position:relative;
margin:0px auto;
width:96%;
max-width:960px;
}
.colset2 > .widget
{
float:left;
width:50%;
min-height:100px;
}
.colset3 > .widget
{
float:left;
width:33.33%;
min-height:100px;
}
.colset4 > .widget
{
float:left;
width:25%;
min-height:100px;
}

#maincontent .colset4 > .widget
{
float:left;
width:50%;
min-height:100px;
}

#sidecontent .widget
{
float:none;
width:100%;
}



#upperbar-widget
{
}

#upperbar.fixed,
#topbar.fixed
{
position:fixed;
display: block;
width:100%;
left:0px;
top:0px;
z-index: 99;
}



#topmenubox,
#upperbarmenu
{
float:left;
max-width:67%;
}
#contactbox,
#upperbar-widget
{
float:right;
max-width:33%;
}

#contactbox .emaillink,
#contactbox .tellink
{
display:block;
padding:3px 0px;
}

#sidebar ul li a
{
display: block;
}
#toplogobox
{
float:left;
}
#toplogobox a,
#toplogobox img
{
display: block;
max-width:100%;;
height: auto;
}
#topmenubox
{
display: block;
}




#maincontent
{
position: relative;
display: block;
float: left;
width: 77%;
}
#maincontent section
{
width:100%;
}
#sidecontent
{
float: left;
width: 23%;
}
article
{
display: block;
max-width:100%;
clear:both;
}


#maincontent .page,
#maincontent .post
{
margin-right:3%;
}

#maincontent img.align-right
{
width: 30%;
float: right;
margin:0px 0px 2% 2%;
}
#maincontent img.align-left
{
width: 30%;
float: left;
margin:0px 2% 2% 0px;
}
#maincontent img.align-inlineright
{
width: 40%;
float: left;
margin:0px 2% 2% 0px;
}
#maincontent img.align-inlineleft
{
width: 40%;
float: left;
margin:0px 2% 2% 0px;
}


#maincontent img.align-left.landscape,
#maincontent img.align-right.landscape
{
width: 40%;
}





/* large screen menu's */
/* menu rollover (js unbind controles & removes parent option clone from sublevel menu)*/
.menutoggle
{
display: none;
}

ul.menu li,
ul.nav-menu li
{
position: relative;
list-style: none;
background-color: #cccccc;
}
ul.menu li a,
ul.nav-menu li a
{
display: block;
padding:2px 2px;
}

#topmenu ul.menu > li.menu-item-has-children,
#uppermenu ul.nav-menu > li.menu-item-has-children,
#mainmenu ul.nav-menu > li.menu-item-has-children,
#bottommenu ul.nav-menu > li.menu-item-has-children
{
padding-right:20px;
}

 /* https://www.w3schools.com/charsets/ref_utf_geometric.asp */
li.menu-item-has-children > a:after
{
content: " ▼";
}
ul.menu > li.menu-item-has-children > a:after,
ul.nav-menu > li.menu-item-has-children > a:after
{
content: " ▼"; /* ▽ ► ▼ △*/
}
ul.menu > li.menu-item-has-children:hover > a:after,
ul.nav-menu > li.menu-item-has-children:hover > a:after
{
content: " ▼";
}
li.menu-item-has-children > a:after
{
content: " ►";
}

#sidemenu li.menu-item-has-children > a:after
{
content: " ▼";
}
li.menu-item-has-children.dropped > a:after,
li.menu-item-has-children.dropped:hover > a:after,
#bottommenu ul.menu > li.menu-item-has-children > a:after,
#bottommenu ul.nav-menu > li.menu-item-has-children > a:after,
#bottommenu ul.menu > li.menu-item-has-children:hover > a:after,
#bottommenu ul.nav-menu > li.menu-item-has-children:hover > a:after
{
content: " ▲";
}


#upperbarmenu #uppermenubox #uppermenu nav div.innerpadding div ul.nav-menu,
#topmenubox #topmenu nav div.innerpadding div ul.menu,
#mainmenu #mainmenubox #mainmenu nav div.innerpadding div ul.nav-menu,
#sidebarmenu #sidemenubox #sidemenu nav div.innerpadding div ul.nav-menu,
#footercontent #bottommenubox #bottommenu nav div.innerpadding div ul.nav-menu
{
}

#upperbarmenu #uppermenubox #uppermenu nav div.innerpadding div ul.nav-menu > li,
#topmenubox #topmenu nav div.innerpadding div ul.menu > li,
#mainmenu #mainmenubox #mainmenu nav div.innerpadding div ul.nav-menu > li,
/* #sidebarmenu #sidemenubox #sidemenu nav div.innerpadding div ul.nav-menu > li,*/
#footercontent #bottommenubox #bottommenu nav div.innerpadding div ul.nav-menu > li
{
position:relative;
display:block;
float:left;
min-height:24px;
}

ul.menu li ul.sub-menu,
ul.nav-menu li ul.sub-menu
{
position:absolute;
max-height:0px;
min-width:180px;
overflow:hidden;
opacity:0;
z-index:99;
}

ul.menu li:hover > ul.sub-menu,
ul.nav-menu li:hover > ul.sub-menu
{
max-height:400px;
overflow:visible;
opacity:1;
z-index:599;
}


#upperbarmenu ul.nav-menu li > ul.sub-menu li > ul.sub-menu,
#topmenubox ul.menu li > ul.sub-menu li > ul.sub-menu,
#mainmenu ul.nav-menu li > ul.sub-menu li > ul.sub-menu
{
position:absolute;
top:0px;
left:100%;
z-index:101;
}

#bottommenu ul > li > ul.sub-menu
{
bottom:24px;
}
#bottommenu ul.nav-menu > li > ul.sub-menu li > ul.sub-menu
{
bottom:0px;
left:100%;
}


#sidemenu ul.nav-menu li ul.sub-menu,
#sidemenu ul.menu li ul.sub-menu
{
position:relative;
left:0px;
}


ul.nav-menu > li ul,
ul.menu > li ul,
ul.sub-menu
{
transition: all 0.6s ease-in-out;
}


/* reverse child content
#bottommenu ul > li
{
display: flex;
flex-direction: column-reverse;
}
*/

} /* end > 680 width */





/** Postlist widget */
.widget_wpstartup_postlist_widget
{
}
.widget_wpstartup_postlist_widget ul
{
}
.widget_wpstartup_postlist_widget ul li
{
clear:both;
list-style: none;
padding:0px;
width:100%;
}
.widget_wpstartup_postlist_widget ul li a
{
display:block;
width:100%;
margin-top:6px;
margin-bottom:20px;
}

.widget_wpstartup_postlist_widget .post-titlebox h4
{
font-size:1.3em;
line-height: 1.2em;
}
.widget_wpstartup_postlist_widget .item-excerpt img.align-left
{
display:inline;
float:left;
margin:0px 10px 15px 0px;
vertical-align: text-top;
}
.widget_wpstartup_postlist_widget .item-excerpt img.align-right
{
display:inline;
float:right;
margin:0px 0px 15px 10px;
vertical-align: text-top;
}
.widget_wpstartup_postlist_widget .item-excerpt img.align-center
{
width:100%;
height:auto;
}
.widget_wpstartup_postlist_widget .item-excerpt img.align-left,
.widget_wpstartup_postlist_widget .item-excerpt img.align-right
{
width:40%;
height:auto;
}
.widget_wpstartup_postlist_widget .post-titlebox h4
{
}
.post-titlebox .post-date,
.post-titlebox .post-author
{
}
.widget_wpstartup_postlist_widget .item-excerpt p
{
padding:0px;
}





