/*
 * Basic style
 */

*
{
margin:0;
padding:0;
}

html,
body
{
width:100%;
}

img
{
max-width:100%;
}


/* slide Menu */
#toplogobox
{
float:left;
position : relative;
z-index:999;
}
#topmenubox
{
float:right;
}
#topmenubox .nav-menu
{
position: fixed;
width : 100%;
height  :  100%;
bottom  :  0px;
left  : 0px;
text-align  :  center;
overflow : hidden;
z-index:98;
opacity:0;
background-color:rgba(0, 0, 0, 0.8);
}
#slidemenutoggle
{
position : relative;
z-index:99;
}
