/* theme style */
body
{
font-family: "Helvetica", Arial, sans-serif;
background-color: white;
color:#232323;
}
a
{
color:black;
text-decoration: none;
}
li.current_page_item a
{
font-weight:bold;
}

/*  section article */
#maincontent .post,
#maincontent .page,
section article
{
margin:20px 40px 10px 0px;
}
/* widgets */
.columnbox .widget
{
margin:20px 0px 10px 0px;
}

/* Footer */
#bottommenu,
#copyrightbox
{
margin:5px 0px 10px 0px;
text-align:center;
}
