
/** basic style */
body
{
font-family: "arial", sans-serif;
}
/** default settings */
html,body,ul,h1,h2,h3,h4,h5,h6
{
padding:0;
margin:0;
}

html
{
height:100%;
width:100%;
}
body
{
min-height:100%;
width:100%;
}

#pagecontainer
{
position:relative;
display:block;
width:100%;
min-height:100%;
}



.clr
{
clear:both;
height:0;
font-size:0;
}

p
{
}

h1,h2,h3,h4,h5,h6
{
line-height:140%;
}

.page img,
.post img
{
height:auto;
max-width:100%;
}
.widget
{
width:100%;
}

/* medium screen layout */
@media screen and (min-width: 580px) {

.outermargin,
.wrap
{
position:relative;
margin:0px auto;
width:96%;
max-width:960px;
}


.colset2 > .widget
{
float:left;
width:50%;
}
.colset3 > .widget
{
float:left;
width:33.33%;
}
.colset4 > .widget
{
float:left;
width:25%;
}

#sidecontent .widget
{
float:none;
width:100%;
}

#upperbarmenu ul > li,
#upperbar .widget_nav_menu ul > li,
#topmenu ul > li,
#topcontent  ul.menu > li,
#mainmenu  ul > li,
#bottommenu ul > li,
#footerend #socialmenu ul > li
{
display: inline-block;
}

#header
{
position:relative;
width:100%;
}
#header.header_image
{
background-size: cover;
background-repeat: no-repeat;
min-height:120px;
}
#maincontent .panel-content > .wrap
{
margin:0;
}

#upperbar
{
}
#upperbarmenu
{
width:60%;
float:left;
}
#upperbar-widget
{
width:23%;
float:right;
}
#topmenu
{
width:60%;
float:left;
}
#contactbox
{
width:auto;
text-align:right;
float:right;
}

#contactbox .emaillink,
#contactbox .tellink
{
display:block;
padding:3px 6px;
}

#sidebar ul li a
{
display: block;
padding:3px 6px;
}
#toplogobox
{
float:left;
}
#toplogobox a,
#toplogobox img
{
display: block;
max-width:100%;;
height: auto;
}
#topmenubox
{
display: block;
}




#maincontent
{
float: left;
width: 77%;
}
#maincontent section
{
margin-right:2%;
}
#sidecontent
{
float: left;
width: 23%;
}
article
{
display: block;
width:100%;
clear:both;
}
#maincontent .page,
#maincontent .post
{
margin-right:3%;
}

#maincontent img.align-right
{
width: 30%;
float: right;
margin:0px 0px 2% 2%;
}
#maincontent img.align-left
{
width: 30%;
float: left;
margin:0px 2% 2% 0px;
}
#maincontent img.align-inlineright
{
width: 40%;
float: left;
margin:0px 2% 2% 0px;
}
#maincontent img.align-inlineleft
{
width: 40%;
float: left;
margin:0px 2% 2% 0px;
}


#maincontent img.align-left.landscape,
#maincontent img.align-right.landscape
{
width: 40%;
}



}
