html,body
{
width:100%;
height:100%;
margin:0;
padding:0px;
}

body
{
}

.clr
{
height:0;
clear:both;
}

#pagecontainer
{
display:block;
position:relative;
width:100%;
min-height:100%;
}

.outermargin
{
margin:0px auto;
width:100%;
}

.columnbox
{
}

.innerpadding
{
display:block;
text-align:left;
padding:0px;
}

#topcontainer
{
height:auto !important;
/*
background-color: rgba(61, 75, 81, 0.5);
color:#ffffff;
*/
}

#header.header_image
{
padding:5% 0px;
}

#maincontainer,
#subcontainer
{
min-height:245px;
/*background-color:#FFFFFF;
color:#233E46;*/
}

#content .panel-content > .wrap
{
padding:0;
    margin:0;
}

#bottomcontainer
{
}

#topbar
{
text-align:center;
font-size:21px;
min-height:48px;
/*
background-color:#233E46;
color:#ffffff;
*/
}
#logobox
{
padding:12px;
float:left;
}

#contactbox
{
padding:12px;
float:right;
}




h1,h2,h3,h4,h5
{
}

#topbar h1,
#topbar h2,
#topbar h3,
#bottomcontent h1,
#bottomcontent h2,
#bottomcontent h3,
#bottomcontent h4,
#bottomcontent h5,
#bottomcontent h6
{
/*
color:#ffffff;
*/
}
#contactbox .telephone_textline,
#contactbox .email_textline
{
display: inline-block;
margin-left:20px;
}
#contactbox .email_textline a
{
display: inline;
display: inline;
}

.widget-contentbox > ul
{
padding:0;
}
.widget-contentbox > ul > li
{
list-style-type: none;
}
.widget-contentbox > ul > li > a
{
display: block;
}

#page-loading
{
position:fixed;
top:20%;
width:100%;
text-align:center;
}

#article-loading
{
position:fixed;
top:30%;
width:100%;
text-align:center;
}

/* medium screen layout */
@media screen and (min-width: 580px) {

.outermargin,
.wrap
{
margin:0px auto;
width:96%;
max-width:960px;
}

#topbar
{
text-align:left;
}

#header
{
font-size:1.4em;
}
nav
{
}

#content{
    width:66.66%;
    float:left;
}
#sidebar{
    width:33.33%;
    float:left;
}
.columnbox,
.widgetbox
{
}

.innerpadding
{
display:block;
text-align:left;
padding:0px 0px;
}

.widget-sidebar h2.widget-title,
.widget-sidebar form,
.widget-sidebar .textwidget
{

}

div.colset2 div.widget
{
float:left;
width:50%;
}

div.colset3 div.widget
{
float:left;
width:33.33%;
}




}


/* medium screen layout */
@media screen and (min-width: 1280px) {
}
